<ion-header>
  <ion-toolbar color="primary" mode="ios">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      SIF Movil
    </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-title slot="primary">
    Inventario Físico
  </ion-title>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-label>Fecha</ion-label>
      <ion-datetime displayFormat="MM DD YY" placeholder="Fecha Inventario" [cancelText]="'Cancelar'" [doneText]="'Aceptar'"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Sucursal</ion-label>
      <ion-input [disabled]="true" [value]="'Sucursal 1'"></ion-input>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-label>Producto</ion-label>
      <ion-select placeholder="Seleccionar">
        <ion-select-option value="f">Producto 1</ion-select-option>
        <ion-select-option value="m">Producto 2</ion-select-option>
        <ion-select-option value="m">Producto 2</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Cantidad</ion-label>
      <ion-input [value]="'1'"></ion-input>
      <ion-button color="primary" slot="end">Agregar</ion-button>
    </ion-item>
  </ion-card>
  <ion-card style="padding: 1rem;">
    <table style="width:100%">
      <tr>
        <th>Producto</th>
        <th>Cantidad</th>
      </tr>
      <tr>
        <td>Producto 1</td>
        <td>15</td>
      </tr>
      <tr>
        <td>Producto 2</td>
        <td>32</td>
      </tr>
    </table>
  </ion-card>
  <ion-button expand="block">Guardar</ion-button>
  <ion-button expand="block" color="danger">Cancelar</ion-button>
</ion-content>

