<ion-header>
    <ion-toolbar color="primary" mode="ios">
        <ion-title slot="">
            SIF Movil
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card class="welcome-card" style="margin-top: 1rem">
        <img style="width: 50%; margin-left: auto; margin-right: auto;" src="/assets/fuse.svg" alt="" />
        <ion-card-header style="text-align: center">
            <ion-card-title>Iniciar Sesión</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-item>
                <ion-label position="floating">Usuario</ion-label>
                <ion-input type="text" [(ngModel)]="username"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Contraseña</ion-label>
                <ion-input type="password" [(ngModel)]="password"></ion-input>
            </ion-item>
            <ion-button style="margin-top: 1rem" expand="block" (click)="login()">Ingresar</ion-button>
        </ion-card-content>
    </ion-card>
</ion-content>
