<ion-header>
    <ion-toolbar color="primary" mode="ios">
        <ion-title slot="">
            SIF Movil
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-content>
        <h4 style="text-align: center">Seleccione rol</h4>

        <ion-grid>
            <ion-row text-center>
                <ion-col *ngFor="let role of roles" size="6">
                    <ion-card class="welcome-card" style="margin-top: 1rem; padding: 1rem" (click)="roleSelected(role)">
                        <ion-icon name="business" color="primary" style="text-align: center; font-size: 32px"></ion-icon>
                        <p color="primary">{{ role.name }}</p>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-content>
</ion-content>
