<ion-header>
    <ion-toolbar color="primary" mode="ios">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            SIF Movil
        </ion-title>
        <ion-buttons slot="end">
            <ion-button fill="clear" (click)="logout()">
                <ion-icon slot="icon-only" name="log-out"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-title slot="primary">
        Dashboard
    </ion-title>
</ion-header>

<ion-content>

    <ion-grid>
        <ion-row text-center class="ion-justify-content-center">
            <ion-col size="12">
                <ion-card class="welcome-card" style="margin-top: 0.2rem; padding: 0.3rem">
                    <ion-item lines="none">
                        <img style="width: 20%;" src="/assets/fuse.svg"/>
                        <p color="primary" text-center>Sistema de Información Financiera</p>
                    </ion-item>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-card style="padding-top: 0.2rem; padding-bottom: 1rem">
        <canvas baseChart
                [data]="pieChartData"
                [labels]="pieChartLabels"
                [options]="pieChartOptions"
                [legend]="pieChartLegend"
                [chartType]="'pie'">

        </canvas>
    </ion-card>
    <ion-card style="padding-top: 0.2rem; padding-bottom: 1rem">
        <canvas baseChart
                [datasets]="chartDataLine"
                [labels]="chartLabelsLine"
                [options]="chartOptionsLine"
                [legend]="showLegend"
                [chartType]="'line'">
        </canvas>
    </ion-card>
</ion-content>
